# BASIC PYTHON

## BASIC COMPONENTS OF PYTHON
#### 1. COMMENT LINES:
    Non- executable code line.
    Written for user understanding.

In [4]:
#comment line

#### 2.KEYWORDS:
     They are pre-defined words.
     Reserved words with special meaning that cant be used as variable name or function name. 
     There are 33 + keywords in python(currently 35)

In [5]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

#### 3.IDENTIFIERS:
     These are the names user gives to identify a function , class , module or variables, etc.

#### 4.VARIABLE:
     It stores value in it.

**VARIABLE/IDENTIFIER Naming RULES:**
#### (Not to use)
    1.We cannot use keywords as variable names.
    2.We cannot use special symbols in a variable name. Except (_)
    3.We cannot use space in between variable name. Instead we can use _ (underscores).
    4. We cannot start with a digit/s(0-9).
    5.PYTHON is case sensitive.

EXAMPLES:

In [6]:
else = 21

SyntaxError: invalid syntax (978001013.py, line 1)

In [7]:
var@ = 19

SyntaxError: invalid syntax (745183995.py, line 1)

In [9]:
var one =56

SyntaxError: invalid syntax (1086024967.py, line 1)

In [10]:
var_one = 56

In [11]:
1st var = 78

SyntaxError: invalid decimal literal (1321612655.py, line 1)

In [12]:
var_1st = 78

In [13]:
Var_one

NameError: name 'Var_one' is not defined

In [14]:
var_one

56

#### 5.DATATYPES:
![MyImage](datatypes.jpg)
     Type of data a variable can store 
##### In python its of 2 types:
**1. Primary Datatype :**
##### - Numeric:
    a. Integer (int)
    b. Float (float)
    c. Complex (complex)
##### - Boolean:
    a. True
    b. False
**2. Sequential Datatype :**


***- String (str):***

     Its a sequence of character elements stored inside ' ' / " ".
     For single line striing we can use '' or "".
     For multiline string we use ''' ''' or """ """
     
***- List (list):***

     Its a sequenc of elemnts or items denoted within [] & separated with ',' (commas).
     It can be homogenous / heterogenous .
     It is ordered & mutable (jinsa change kriparibu/sabu operations{add/remove} use krihaba).

***- Tuple (tuple):***

     Its a sequence of elements / items , stored / denoted within '()' .
     It can be homogenous/heterogenous.
     It can ordered/ immutable (changes nhi kr saktein hain) .

***- Set (set):***

     Its a sequence of elements denoted within '{}' and separated with ','(comma).
     Its unordered and mutable .
     It can be homogenous/ heterogenous.
     It gives unique values as output(no repetation) .
     set ka index posn nhi hota hai .
     
***- Dictionary (dict):***

    Its a sequence of keys and value pairs stored/denoted within '{}' and separated with ',' (comma) , the key and value of a pair is  separated by ':'.
    Each key and value is represented as 1 item / 1 element .
    Your key must be unique. value can be same.

In [15]:
#datatype
a = 26
a

26

In [16]:
type(a)

int

In [18]:
b = 4.0
b

4.0

In [19]:
type(b)

float

In [23]:
c = 5+4j
c

(5+4j)

In [24]:
# In python imaginary no. is represented by 'j' not (i)

In [25]:
type(c)

complex

In [26]:
d = True
type(d)

bool

In [30]:
e = 'Astha'
e

'Astha'

In [31]:
type(e)

str

In [34]:
#for single line we can use '' or"'
s1 = 'Welcome to STALWART HOMES'
s1

'Welcome to STALWART HOMES'

In [35]:
type(s1)

str

In [36]:
#for multiline string we use ''' ''' or """ """

In [38]:
s2 = """ Welcome to CTTC 
for SUMMER INTERNSHIP"""
print(s2)

 Welcome to CTTC
for SUMMER INTERNSHIP

In [39]:
type(s2)

str

In [40]:
#list
l= [28,19.7,7+3j,True,'Cat']
l

[28, 19.7, (7+3j), True, 'Cat']

In [41]:
type(l)

list

In [42]:
#tuple
t= (29,85.9,9+3j,False)
t

(29, 85.9, (9+3j), False)

In [43]:
type(t)

tuple

In [47]:
#set
set ={ 35,35,12,12,6.5,False,7+4j}
set
# apne hissab se print krke dega , kyunki iska index value fix nhi hota toh unordered aega

{(7+4j), 12, 35, 6.5, False}

In [46]:
type(set)

set

In [50]:
#dictionary
di = {'a':3,4:3,'c':8, 'a':5} #agar sem key lia toh jo last mei hoga uska value update hoga
di

{'a': 5, 4: 3, 'c': 8}

In [51]:
type(di)

dict