# LOOPS:

### 1. For Loop 
### 2. While Loop

## FOR LOOP: 
_*koi bhi sequence lete ho , sequence jb tak khtm nhi hota tab tak loop chlta reheta hai*_

     A for loop is udes for iterating over a sequence(i.e either a list, a tuple , a dictionary , a set , or a string ).
     With the for loop we can execute  a set of statements , once for each item in a list, tuple, set , etc.
          
    
    Syntax: 
>for i in collection :
>>#Body of for loop

In [4]:
#here:
# for = loop
#i = Iterator(Works to iterate repeatedly)
# in = Membership operator
#collection can be of any type : either  sequential data or sequence of datatype (string, tuple, set, dictionary, list)
#for implies for loop syntax
# if no. of iterations is known , we use for loop

In [5]:
#ex: string 
for i in "Astha":
    print(i)

A
s
t
h
a

In [8]:
# by default end='\n'
#print fucn has attribute/ flag : end = '\n'
# hence it prnted in separate lines
# if we specify end 
for i in 'Astha':
    print(i,end='')

Astha

In [7]:
for i in 'Astha':
    print(i,end=' ')

A s t h a

In [9]:
#ex:list
for i in [1,2,3,4,5,6]:
    print(i , end=' ')

1 2 3 4 5 6

**Range:**

**range(): its a built-in fucntion generates a sequence os integers betn a given interval.**

    We use range func for large no. of sequences

In [10]:
for i in range (121):
    print(i,end='😊')

0😊1😊2😊3😊4😊5😊6😊7😊8😊9😊10😊11😊12😊13😊14😊15😊16😊17😊18😊19😊20😊21😊22😊23😊24😊25😊26😊27😊28😊29😊30😊31😊32😊33😊34😊35😊36😊37😊38😊39😊40😊41😊42😊43😊44😊45😊46😊47😊48😊49😊50😊51😊52😊53😊54😊55😊56😊57😊58😊59😊60😊61😊62😊63😊64😊65😊66😊67😊68😊69😊70😊71😊72😊73😊74😊75😊76😊77😊78😊79😊80😊81😊82😊83😊84😊85😊86😊87😊88😊89😊90😊91😊92😊93😊94😊95😊96😊97😊98😊99😊100😊101😊102😊103😊104😊105😊106😊107😊108😊109😊110😊111😊112😊113😊114😊115😊116😊117😊118😊119😊120😊

In [11]:
for i in range (7):
    print(i, end =' ')

0 1 2 3 4 5 6

#### range(7) means:

    start = 0
    condition for i in  this case is it should be less than 7 or(<7)
    increament = 1
    for every iteration it checks whether i < 7 and then it prints and after that it increaments

#### range(2,7) 

    start = 2 
    condition is less tha 7
    increament = 1 its by default
    increament is also known as step 

    o/p:
        2
        3
        4
        5
        6

#### range(2,9,2)

      start = 2 
      condition is less than 9
      increament = 2
      o/p:
          2
          4
          6
          8

- So in conclusion range can have minimum 1 and maximum 3 arguments
- (end) imples (start=0,end,step=0)
- (start,end) implies (start,end ,step=1)
- (start,end,step) implies (start, end , step)

_**Q.WAP to find out no.s which are divisible by 3 between 100-200 in reverse order?**_

In [16]:
for i in range(200,99,-1):
    if i%3==0:
        print(i,end=' ')

198 195 192 189 186 183 180 177 174 171 168 165 162 159 156 153 150 147 144 141 138 135 132 129 126 123 120 117 114 111 108 105 102

_**Q.WAP to print multiplication table of a given no.**_

In [18]:
i= int(input('Enter a no. : '))
print('MULIPLICATION TABLE OF ', i )
for n in range (1,11):
    print(n,'X',i,'=',n*i)

Enter a no. :  1234567890

MULIPLICATION TABLE OF  1234567890
1 X 1234567890 = 1234567890
2 X 1234567890 = 2469135780
3 X 1234567890 = 3703703670
4 X 1234567890 = 4938271560
5 X 1234567890 = 6172839450
6 X 1234567890 = 7407407340
7 X 1234567890 = 8641975230
8 X 1234567890 = 9876543120
9 X 1234567890 = 11111111010
10 X 1234567890 = 12345678900

_**Q. WAP to print prime no.s in between 1 to 100?**_

In [43]:
for i in range (1,101):
    factor = 0 # written here so that it stores  the factor count for every iteration from 1 to 100
    for j in range(1,i+1):
        if i%j==0:
            factor += 1 #factor count is increased by 1
    if factor == 2:
        print(i,end=' , ') # if u take range (2,i) then take factor ==0 condition

2 , 3 , 5 , 7 , 11 , 13 , 17 , 19 , 23 , 29 , 31 , 37 , 41 , 43 , 47 , 53 , 59 , 61 , 67 , 71 , 73 , 79 , 83 , 89 , 97 ,

## WHILE LOOP: 
_*Jis case re loop tab tak continue krta hai jab tak condition FALSE na hojae*_

_Syntax:_

>initialize
>
>while condition(true):
>
>>#body of while loop
>>
>>increament/ decreament

In [46]:
 #Program to print till 100
i=1
while i<=100:
    print(i, end ='👌')
    i+=1
    # i fyou dont increament , then the condn nevah comes to end and becomes infinite loop
    # in this case , decreamenting also does not work as it wont find 100 if you go back

1👌2👌3👌4👌5👌6👌7👌8👌9👌10👌11👌12👌13👌14👌15👌16👌17👌18👌19👌20👌21👌22👌23👌24👌25👌26👌27👌28👌29👌30👌31👌32👌33👌34👌35👌36👌37👌38👌39👌40👌41👌42👌43👌44👌45👌46👌47👌48👌49👌50👌51👌52👌53👌54👌55👌56👌57👌58👌59👌60👌61👌62👌63👌64👌65👌66👌67👌68👌69👌70👌71👌72👌73👌74👌75👌76👌77👌78👌79👌80👌81👌82👌83👌84👌85👌86👌87👌88👌89👌90👌91👌92👌93👌94👌95👌96👌97👌98👌99👌100👌

_**Q. WAP to print multiplication table of a given no.?**_

In [1]:
i= int(input('Enter a no. : '))
print('MULIPLICATION TABLE OF ', i )
n=1
while n<=10:
    print(n,' X ',i,' = ',n*i)
    n+=1

Enter a no. :  123

MULIPLICATION TABLE OF  123
1  X  123  =  123
2  X  123  =  246
3  X  123  =  369
4  X  123  =  492
5  X  123  =  615
6  X  123  =  738
7  X  123  =  861
8  X  123  =  984
9  X  123  =  1107
10  X  123  =  1230

_**Q.WAP to find the prime no. betn 1 to 100?**_

In [56]:
i=1
while i<=100:
    factor = 0 
    j=1
    while j<=i:
        if i%j==0:
            factor += 1 
        j+=1
    if factor == 2:
        print(i,end='🤩')
    i+=1

2🤩3🤩5🤩7🤩11🤩13🤩17🤩19🤩23🤩29🤩31🤩37🤩41🤩43🤩47🤩53🤩59🤩61🤩67🤩71🤩73🤩79🤩83🤩89🤩97🤩

## <font color ="yellow">BREAK STATEMENT:

    The break is a keyword in python which is used to bring the program control out of the loop/ terminates the loop.

In [57]:
for i in range (1,15):
    print (i,end=' ')
    break

1

In [59]:
for i in range(1,15):
    if i % 8 ==0:
        break
    print(i,end='😶‍🌫️')

1😶‍🌫️2😶‍🌫️3😶‍🌫️4😶‍🌫️5😶‍🌫️6😶‍🌫️7😶‍🌫️

## <font color ="purple">CONTINUE STATEMENT:

      The continue keyword return control of the iteration to the beginning of the python for loop or python while loop . All remaining lines in the prevailing iteration of the loop are skipped by the continue keyword , which returns execution to the beginning of the next iteration of the loop.

In [60]:
for i in range (1,15):
    print (i,end=' ')
    continue

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [61]:
for i in range (1,15):
    if i%2 ==0:
        continue
    print (i,end=' ')

1 3 5 7 9 11 13

## <font color ="blue">PASS STATEMENT:

     The Python pass statement to write empty loops . Pass is also used for empty control statements , functions & classes .

In [66]:
a= pass

SyntaxError: invalid syntax (166275467.py, line 1)

In [67]:
if 12<=5:

SyntaxError: incomplete input (1898310513.py, line 1)

In [63]:
if 12>5:
    pass
    print('hello')

hello