# <font color= #03f8fc>FUNCTIONS:
_**A block of code/statements that performs a specific task and returns something.**_

_**Re-usable block of code.**_

- By including functions, we can prevent repeating the same block of code repeatedly in a program.
- Python functions, once defined , can be called many times & from anywhere in a program.
- If your Python program is large , it can be  separated into numerous functions which is simple to track .
- The key accomplishment of Python functions is we can return as many  outputs as we want with different arguments.

- Syntax:
>def function_name(parameter):
>>Block of code

    "def" function is used to define a function

     def -> is known as function declaration

     The Block of code is used as function definition.

     The work done by a function is function definition.

     FUNCTION CALLING: When a function is called to be executed

In [3]:
#without function:
a= int(input('Enter a no. : '))
b=int(input('Enter another no. : '))
print('SUM = ',a+b)

Enter a no. :  13
Enter another no. :  18

SUM =  31

In [4]:
# working with function:
def Addition():
   a= int(input('Enter a no. : '))
   b=int(input('Enter another no. : '))
   print('SUM = ',a+b)

In [5]:
Addition()

Enter a no. :  13
Enter another no. :  18

SUM =  31

In [6]:
Addition()

Enter a no. :  123
Enter another no. :  12

SUM =  135

**return** is used inside function -> its used to give values

In [7]:
# Function without return:
def fun1():
    print("Hello!")

In [9]:
type(fun1())

Hello!

NoneType

In [8]:
fun1() + "How are you?"

Hello!

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
# Function with return
def f1():
    return"Hello!"

In [14]:
f1() + ' How are you?'

'Hello! How are you?'

In [15]:
type(f1())

str

## <font color = #fc0377>FUNTION WITH ARGUMENTS:

In [16]:
#SINGLE ARGUMENT:
def first(one):
    print(one)

In [18]:
first("Chocolate")

Chocolate

In [19]:
def greet(name):
    print("Hello ",name)

In [20]:
greet("Adi")

Hello  Adi

In [24]:
#DOUBLE ARGUMENTS:
def DoubleDhamaka(x,y):
    print('x-> ',x)
    print('y-> ',y)
    print(x ,'+', y ,'= ',x+y)

In [25]:
DoubleDhamaka(13,18)

x->  13
y->  18
13 + 18 =  31

In [26]:
DoubleDhamaka(13)

TypeError: DoubleDhamaka() missing 1 required positional argument: 'y'

In [27]:
DoubleDhamaka(13,18,99)

TypeError: DoubleDhamaka() takes 2 positional arguments but 3 were given

In [30]:
#MULTIPLE ARGUMENTS:
def Multiple(*arg):
    print(arg *300)
    print(type(arg))

In [31]:
Multiple('🙈','🙊','🙉')

('🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉', '🙈', '🙊', '🙉')
<class 'tuple'>

In [32]:
DoubleDhamaka('🎶','😶‍🌫️')

x->  🎶
y->  😶‍🌫️
🎶 + 😶‍🌫️ =  🎶😶‍🌫️

In [33]:
Multiple('🙈')

('🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈', '🙈')
<class 'tuple'>

In [34]:
def sumall(*args):
    print(sum(args))

In [35]:
sumall(1,2,3,4,5,55,56,1423,5,5,42343,44,54142352534,424233,332)

54142821045

## DEFAULT ARGUMENTS:

     We gve default values in case we miss out giving arguments it takes the default value
     But if we write only 1 argument then it takes the 1st value as input 
     If we want to specify the value we can write argument as (y=20)

In [36]:
#Default Arguments:
def Default(x=1,y=1):
    print('x-> ',x)
    print('y-> ',y)
    print(x ,'X', y ,'= ',x*y)

In [37]:
Default()

x->  1
y->  1
1 X 1 =  1

In [38]:
Default(12,7)

x->  12
y->  7
12 X 7 =  84

In [39]:
Default(18)

x->  18
y->  1
18 X 1 =  18

In [40]:
Default(y=18)

x->  1
y->  18
1 X 18 =  18

_**Q.WAP python function to calculate area of the circle if its radius is given**_

In [44]:
def area():
    r=float(input('Enter the radius : '))
    print("Area of the circle = ",3.14*r*r)

In [45]:
area()

Enter the radius :  23

Area of the circle =  1661.06

In [53]:
def area(r,pi=3.141):
    print('Area of the circle is: ',pi*r**2)
area(22)

Area of the circle is:  1520.244

In [54]:
r=float(input('Enter the radius : '))
area(r)

Enter the radius :  23

Area of the circle is:  1661.589

----